@{
    ViewBag.Title = "ArgricultureLivePullutionReport";
    Layout = "../Shared/_LayoutBody.cshtml";
}
<style>
      #tbAddOrEditFeeRule td, span, input, li {
        text-align: left !important;
        vertical-align: middle;
    }

    #tbAddOrEditFeeRule td, span, input, li {
        text-align: left !important;
        vertical-align: middle;
    }

    #tbAddOrEditFeeRule.table-custom-default tr th, #tbAddCertificate.table-custom-default tr td {
        overflow: visible !important;
        white-space: normal;
    }
</style>
 <div class="layout layout-custom-margin layout-position-absolute">

                  <form class="form form-horizontal form-custom-default" id="formAddCetifi">

                        <div class="form-group">
                            <div class="col col-sm-12">

                                <button type="button" class="btn-new-refreash" onclick="refreshTable()">刷新</button>
                                    <button type="button" class="btn-new-refreash" onclick="saveReport()">保存</button>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col col-sm-12">
                                <table class="table table-custom-default table-line-height40" id="tbAddOrEditFeeRule">
                                  
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
<script>
    var columns = [
           { name: "PullutionType", hidden: true },
        {
            label: "序号",
            name: "SeqNo",
            sortable: false,
            width: 60,
            colmenu: false
        },
        {
            label: "总氮年排放量",
            index: "OutPutOfN",
            editable: true,
            name: "OutPutOfN",
            width: 286,
            isVisible: true,
        },
        {
            label: "总磷年排放量",
            name: "OutPutOfP",
            index: "OutPutOfP",
            editable: true,
            Width: 200,
            isVisible: true

        },
        {
            label: "总Cod年排放量",
            name: "OutPutOfCo",
            index: "OutPutOfCo",
            editable: true,
            width: 200
        }
    ];
    refreshTable();
    // 刷新数据
    function refreshTable() {
        $.ajax({
            url: "/AP_ArgricultureLive/CaculateArgricultureLivePullution?pt=" + new Date(),
            cache: false,
            dataType: "json",
            success: function (data) {
                var json = [];
                json.push(data.Entity);
                for (var i = 0; i < json.length; i++) {

                    json[i].SeqNo = i + 1;

                }
                var tableJson = json;
                pageFRInit(tableJson, columns);
            },
            error: function (data) {

            }
        });
    }
    function resizeFRGrid() {
        $(window).unbind("onresize");
        $("#tbAddOrEditFeeRule").setGridHeight($(window).height() - 89);
        $(window).bind("onresize", this);
    }
    // 页面初始化
    function pageFRInit(tableJson, columnType) {
        $.jgrid.gridUnload("#tbAddOrEditFeeRule");
        $('#tbAddOrEditFeeRule').jqGrid({
            datatype: "local",
            data: tableJson,

            gridComplete: function () {

            },
            loadComplete: function (json) {
                $('#tbAddOrEditFeeRule').find("tr.jqgrow").each(function (i, ele) {
                    $(ele).find("[aria-describedby='tbAddOrEditFeeRule_SeqNo']").html(i + 1);
                });
                resizeFRGrid();
            },
            colModel: columnType,

            loadError: function (json, status, error) {
                toastr.error(error);
            },

            width: "100%",
            heiht: "100%",
            autowidth: true,
            rowNum: tableJson.length,
            loadonce: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {

            },
            onSelectRow: function (rowid, status) {
               
            },
        });
        $(window).resize(function () {

            resizeFRGrid();
        })
    }
    function saveReport() {
        var validata = true;
        var RuleRows = [];
        var o = $("#tbAddOrEditFeeRule tbody tr.jqgrow");
        $.each(o, function (i, n) {
            var PullutionType = $(n).find("td[aria-describedby=tbAddOrEditFeeRule_PullutionType]").text();

            var OutPutOfN = $(n).find("td[aria-describedby=tbAddOrEditFeeRule_OutPutOfN]").text().trim();
            var OutPutOfP = $(n).find("td[aria-describedby=tbAddOrEditFeeRule_OutPutOfP]").text().trim();
            var OutPutOfCo = $(n).find("td[aria-describedby=tbAddOrEditFeeRule_OutPutOfCo]").text().trim();

            if (!validata)
                return;
            var row = {
                Id: "00000000-0000-0000-0000-000000000000",
                PullutionType: PullutionType,
                NSum: OutPutOfN,
                PSum: OutPutOfP,
                CoSum: OutPutOfCo,
                CreateUser: "2B0217FD-A6E9-49DB-AE85-6631F3E84BD7",
                CreateTime: new Date(),
                LastModifyTime: new Date(),
                LastModifyUser: "2B0217FD-A6E9-49DB-AE85-6631F3E84BD7"
            };

            RuleRows.push(row);
        });

        $.ajax({
            url: "/AP_PlantNoPointSource/SaveOrUpdateSumPullution",
            data: { model: JSON.stringify(RuleRows) },
            cache: false,
            type: "POST",
            async: true,
            dataType: 'json',
            success: function (data) {
                if (data.Result) {
                    alert(data.Content);
                } else {
                    alert("保存失败");
                }
            },
            error: function (errorData) {
                alert("保存失败");
            },
            complete: function () {

            }
        })
    }
</script>
