@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Basic Layout Example</title>
        <link href="../Assets/plugins/DataTables-1.10.12/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../Assets/plugins/DataTables-1.10.12/FixedColumns-3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
    <link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../Assets/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
	<script type="text/javascript" src="../Assets/js/jquery.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="../Assets/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../Assets/js/jquery.layout.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/js/i18n/grid.locale-cn.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/src/jquery.jqGrid.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/plugins/jquery.tablednd.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/plugins/tbltogrid.js"></script>
    <script src="../Assets/plugins/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript">
	    $.jgrid.defaults.width = "100%";
	    $.jgrid.defaults.responsive = true;
	    $.jgrid.defaults.styleUI = 'Bootstrap';
	    $.jgrid.defaults.mtype = "post";

	    $(document).ready(function () {
	        $("body").layout({ applyDemoStyles: true });
	    });
	</script>

</head>
<body>

<div class="ui-layout-center">  
    
        <div class="tab_container" style="height: 100%;" id="divTabContent">
            <div id="divMain" class="tab_content" style="height: 100%;">
                <iframe src="" id="ifmContent" style="height: 100%;width: 100%;"></iframe>
            </div>
        </div>
    
	
</div>
<div class="ui-layout-north">农业面源污染基本信息</div>
<div class="ui-layout-south">Powered by John</div>
<div class="ui-layout-west">
    <ul id="menu">

  <li tag="IndexAP_LiveStockBreeding"><div>畜禽养殖</div>
      <ul class="AP_LiveStockBreeding">
          <li tag="IndexAP_LiveStockBreeding">畜禽养殖现状</li>
           <li tag="LiveStockBreedingCoeffecient">污染源排污系数</li>
            <li tag="LiveStockBreedingPullutionReport">畜禽养殖源污染物负荷</li>
            <li>数据导入导出</li>
      </ul>

  </li>
  <li tag="IndexAP_ArgricultureLive"><div>农村生活</div>
        <ul class="AP_ArgricultureLive">
          <li tag="IndexAP_ArgricultureLive">农村生活现状</li>
           <li>污染源排污系数</li>
            <li tag="ArgricultureLivePullutionReport">农村生活源污染物排放量</li>
            <li>数据导入导出</li>
      </ul>
  </li>
          <li tag="IndexAP_AqualCulture"><div>水产养殖</div>
                <ul class="AP_AqualCulture">
          <li tag="IndexAP_AqualCulture">水产养殖现状</li>
           <li>污染源排污系数</li>
            <li tag="AP_AqualCultureReport">水产养殖源污染物负荷</li>
            <li>数据导入导出</li>
      </ul>
          </li>
          <li tag="IndexAP_PlantNoPointSource"><div>种植业源</div>
                <ul  class="AP_PlantNoPointSource">
          <li tag="IndexAP_PlantNoPointSource">种植业源现状</li>
           <li>污染源排污系数</li>
            <li tag="PlantNoPointSourceReport">作物秸秆污染物排放量</li>
                     <li tag="FetilizerReport">农田化肥污染物排放量</li>
            <li>数据导入导出</li>
      </ul>
          </li>
        
    </ul>
    </div>
     <script>
         $(function () {
             $("#menu").menu();
             $("#ifmContent").attr("src", "/AP_PlantNoPointSource/IndexAP_PlantNoPointSource");
             $("ul.AP_LiveStockBreeding li").click(function (e) {
                 $("#ifmContent").attr("src", "/AP_LiveStockBreeding/" + $(this).attr("tag"));
             })
             $("ul.AP_ArgricultureLive li").click(function (e) {
                 $("#ifmContent").attr("src", "/AP_ArgricultureLive/" + $(this).attr("tag"));
             })
             $("ul.AP_AqualCulture li").click(function (e) {
                 $("#ifmContent").attr("src", "/AP_AqualCulture/" + $(this).attr("tag"));
             })
             $("ul.AP_PlantNoPointSource li").click(function (e) {
                 $("#ifmContent").attr("src", "/AP_PlantNoPointSource/" + $(this).attr("tag"));
             })
         });
  </script>
  <style>
  .ui-menu { width: 150px; }
  </style>
</body>
</html>