@{
    ViewBag.Title = "IndexAP_AqualCulture";
    Layout = "../Shared/_LayoutBody.cshtml";
}
<style>
    td.text-middle {
    text-align:center !important;
    vertical-align:middle !important;
    }
    th.ui-th-column-header.ui-th-ltr {
    border-bottom:1px solid #ddd !important;
    }
    th.ui-th-column.ui-th-ltr {
     border-bottom:1px solid #ddd !important;
    }
</style>
    <form class="form form-horizontal form-custom-default" style="width:98%;" id="FormAssesOfYearFinal">
            <div class="form-group">
          <div class="col col-sm-1"><label class="label-custom-default pull-right">年份：</label></div>
                <div class="col col-sm-2"> <input name="Year" type="text" class="form-control" style="height:40px;line-height:40px;" placeholder="测试时间",
                onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy',onpicked:beginSearch()})" readonly="true" /></div>
       
                </div> <div class="form-group">
            <div class="col col-sm-12">

<table class="table table-custom-default table-line-height40" id="AP_AqualCultureList"></table>
                </div></div>
    </form>

<script>
    function resizeGrid() {
        $(window).unbind("onresize");
        $("#AP_AqualCultureList").setGridHeight($(window).height() - 140);
        $(window).bind("onresize", this);
    }
    $(function () {
        $("#FormAssesOfYearFinal").find("[name=Year]").val(new Date(2016, 1, 1).getFullYear());
        beginSearch();
    })
    var col = [
     { name: "Id", hidden: true, key: true },
     {
         label: "序号",
         classes:"text-middle",
         name: "SeqNo",
         sortable: false,
         colmenu: false,
         sortable: false,
         width: 100,
         colmenu: false
     },
          {
              label: "区县",
              classes: "text-middle",
              name: "AreaName",
              sortable: false,
              colmenu: false,
              sortable: false,
              width: 100,
              colmenu: false
          },
     {
         label: "淡水鱼",
         name: "FreshWaterFish",
         classes: "text-middle",
         sortable: false,
         colmenu: false,
         classes: "text-middle",
         isVisible: true,
         width: 100


     },
     {
         label: "蟹",
         index: "Crab",
         name: "Crab",
         classes: "text-middle",
         sortable: false,
         colmenu: false,
         width: 120,
         isVisible: true,
     },
           {
               label: "虾",
               index: "Shrimp",
               name: "Shrimp",
               sortable: false,
               classes: "text-middle",
               colmenu: false,
               width: 100,
               isVisible: true,
           },
                 {
                     label: "贝类",
                     index: "ShellFish",
                     name: "ShellFish",
                     classes: "text-middle",
                     sortable: false,
                     colmenu: false,
                     width: 100,
                     isVisible: true,
                 }

    ];
    function beginSearch() {
        var Year = $("#FormAssesOfYearFinal").find("[name=Year]").val();
        $.ajax({
            url: "/Home/GetAP_AqualCulture",
            data: { Year: Year },
            async: true,
            dataType: 'json',
            type: "POST",
            success: function (json) {
                var SeqNum = 1;
                if (json.Result) {
                    $.each(json.Entity, function (i, n) {
                        json.Entity[i].SeqNo = SeqNum++;
                    });
                    page_init(json.Entity, col)
                } else {
                    bAlert("获取信息失败");
                }
            },
            error: function (errorData) {
            },
            complete: function () {
            }
        });
    }
    function page_init(tableJson, columnType) {
        $.jgrid.gridUnload("#AP_AqualCultureList");
        $('#AP_AqualCultureList').jqGrid({
            datatype: "local",
            data: tableJson,

            gridComplete: function () {

            },
            loadComplete: function (json) {
                resizeGrid();
            },
            colModel: columnType,

            loadError: function (json, status, error) {
            },

            width: "100%",
            heiht: "100%",
            autowidth: true,
            rowNum: tableJson.length,
            loadonce: true,
            ondblClickRow: function (rowid, iRow, iCol, e) {


            },
            onSelectRow: function (rowid, status) {
               
            },
        });
        $(window).resize(function () {

            resizeGrid();
        })
    }

</script>
