<!DOCTYPE html>
<html>
<head>
	<title>Basic Layout Example</title>
        <link href="../Assets/plugins/DataTables-1.10.12/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../Assets/plugins/DataTables-1.10.12/FixedColumns-3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
    <link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../Assets/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
	<script type="text/javascript" src="../Assets/js/jquery.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="../Assets/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../Assets/js/jquery.layout.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/js/i18n/grid.locale-cn.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/src/jquery.jqGrid.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/plugins/jquery.tablednd.js"></script>
    <script src="../Assets/plugins/Guriddo_jqGrid_JS_5.2.1/plugins/tbltogrid.js"></script>
    <script src="../Assets/plugins/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript">
	    $.jgrid.defaults.width = "100%";
	    $.jgrid.defaults.responsive = true;
	    $.jgrid.defaults.styleUI = 'Bootstrap';
	    $.jgrid.defaults.mtype = "post";
	</script>

</head>
<body>
       @RenderBody()
</body>
</html>